@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


body {
background-color:#130133;
font-family: 'Montserrat', sans-serif;
}

/* ---------- Nav Desktop ----------- */

nav.navbar {
padding: 30px 30px 0px 30px !important;
background-color: #130133 !important;
}

nav.navbar ul li a, a.btn.btn-disabled {
color:rgba(255, 255, 255, .7) !important;
text-transform:uppercase !important;
letter-spacing: 2px;
padding-left:15px !important;
padding-right:15px !important;
}

nav.navbar ul li a:hover, a.btn.btn-disabled:hover {
color:white !important;
background-image: linear-gradient(135deg, #daaa2c 0%, #d61b90 74%) !important;
border-radius:5px !important;
border:0px solid #380B7A !important;
}

/* ---------- Nav Mobile ----------- */

#offcanvasNavbar {
background-color:#130133 !important;
}

h5.offcanvas-title {
color:rgba(255, 255, 255, 1) !important;
text-transform:uppercase !important;
letter-spacing: 2px;
}

button.btn-close {
color:white !important;
}

/* ---------- Headings ----------- */

h3, h4.text-start {
color:#EFCDFF !important;
margin-top:30px;
}

/* ------- Page-user-setup --------- */
#page-user-setup p.fs-3, 
#page-user-setup h1 {
 color:white !important;
}


/* ---------- Log in screen ----------- */

#page-user-login h1, 
#page-user-forgot h1 {
color:white !important;
}

#page-user-login label.form-label {
color:rgb(255,255,255,.6) !important;
}

/* ---------- Profile Page ----------- */

#page-profile a.btn-success {
background-image: linear-gradient(135deg, #daaa2c 0%, #d61b90 74%);
border: none;
padding: 10px 40px;
border-radius: 10px;
font-size: 1.2em;
}

/* ---------- App Cards on App page ----------- */

.PageHeader_container__v0px1 {
border-bottom: none;
}

.container {
padding-bottom:100px;
}

#page-apps h5.card-title {
text-transform:uppercase;
text-align:center !important;
}

.card-body {
background-color:#380B7A !important;
border:none !important;
border-radius:15px 15px 15px 15px !important;
padding: 30px !important;
width:100% !important;
}

.card .card-body p img {
width:100%;
}

.card-body img {
border-radius:15px 15px 0px 0px !important;
}

.app-card {
padding:20px !important;
border-radius:15px;
}

.app-card a {
    background-image: none;
    padding: 7px;
    border-radius: 20px
}

.app-card a:hover {
background-image: linear-gradient(135deg, #daaa2c 0%, #d61b90 74%) !important;
}

.col.py-3.my-3 {
display:none;
}

/* ---------- Header Panel in individual app  ----------- */

.card {
background-color:transparent !important;
color:white;
border:none !important;
}

.card-title {
color:white !important;
border-bottom:1px solid rgba(255, 255, 255, 0) !important;
}


h4.card-title, a.card-title, .card-title a { 
color:white !important;
text-transform: uppercase !important;
text-align:center !important;
letter-spacing:1px !important;
font-size: 1.9em !important;
}

.app-render h4.card-title {
font-size:1.5em;
margin-bottom:30px;
}

.app-render .card-body {
border-radius: 0px 0px 15px 15px !important;
}

.app-render .card img {
border-radius:15px 15px 0px 0px !important;
}

.badge {
background-color: rgba(0,0,0,.2)!important;
border:none !important;
color: rgba(255,255,255,.7) !important;
padding: 10px !important;
margin:5px !important;
}

.PageHeader_headerTitle__LNxkC {
font-weight: 700;
line-height: 1;
text-transform: uppercase;
color: white;
margin-top: 20px;
font-size: 3em;
}

.history-list {
display:none;
}

label {
color: white !important;
}

label.form-label {
color: rgb(33, 37, 41) !important;
}



/* ---------- Forms ----------- */

.text-secondary, .card-body p, .card-body ul li, a.ms-3 {
color:#EFCDFF !important;
}

textarea.form-control, .form-control, select.form-select {
background: #21084E !important;
border: none;
color: white !important;
}

textarea.form-control::selection {
background:white;
}

textarea.form-control::placeholder {
color:rgb(255,255,255,.6);
}


.form-control, select.form-select {
border-radius: 15px !important;
padding:1rem;
}

.form-control:focus {
box-shadow:0 0 0 0.25rem rgba(13,110,253,.65);
}

/* ---------- Form tags on light bg ----------- */

#page-apps-view-403 label.form-label {
	color:#000000;
}

/* heading for second set of inputs */
#page-apps-view-403 h5 {
	color:#000000 !important;
}



/* ---------- Form tags on dark bg ----------- */

#page-user-forgot .form-label {
color:rgb(255,255,255,.6) !important;
}

/* ---------- Tables ----------- */

tbody, td, thead, tfoot, th, tr {
color:white !important;
}

tr {
border-bottom: 0px solid rgb(255,255,255,.1) !important;
color: rgb(239, 205, 255);
}


/* ---------- Buttons ----------- */
button.btn {
background-image: linear-gradient(135deg, #daaa2c 0%, #d61b90 74%);
border: none;
padding: 10px 40px;
border-radius: 10px;
font-size:1.2em;
}

button.btn:hover {
box-shadow: 0px 0px 50px #d61b90;
}

.app-text-display h3 {
color: #21084E !important;
}

.mb-5 {
background:none !important;
}